{% extends "layout.twig" %}

{% block title %} Contact {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/navBar.css">
{% endblock %}

{% block main_container %}
    <div class="center">
        <h1>About us</h1>
        <h3>Mission and Vision</h3>
        <p>
            We were born in Benevento and our <b>Mission</b>
            is to build an <b>alternative transport network</b>,
            in which <b>moving to a place at any time is not a problem</b>;
        </p>
        <p>
            Our <b>Vision</b> is to <b>revolutionize urban mobility</b>
            in Benevento and beyond, creating a <b>seamless</b>, <b>accessible</b>, and <b>sustainable</b>
            transport network that empowers people to move freely and effortlessly, anytime, anywhere.
        </p>
        <p>
            We are constantly improving Ourselves to ensure you the best service ever.
        </p>
    </div>
{% endblock %}