{% extends "layout.twig" %}

{% block title %} Cookies Policy {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/css/navBar.css">
    <link rel="stylesheet" href="/css/cookies.css">
{% endblock %}

{% block main_container %}
    <div class="container">
        <div class="cookie-policy">
            <h1>Cookies Policy</h1>
            <br>
            <h3>How we use cookies</h3>
            <p>
                SHIFT and its external partners use <b>cookies</b> and other similar technologies described in this <b>Cookie Policy</b> to enable our sites and apps to <b>function properly</b>, to <b>analyze</b> and make <b>improvements</b> to our sites, apps and communications systems, as well as to customize your /SHIFT experience. To better understand how this impacts you, we encourage you to read both the following policy and our <b>customer privacy notices</b>.
            </p>
            <h3>What is meant by cookies and similar technologies?</h3>
            <p>
                <b>Cookies and similar technologies</b> are really interesting. They allow us to personalize your <b>online experience</b>; Furthermore, they help us understand how you use our services (including the website and apps) and our emails, and save you time by remembering your data. Below we explain how they work.
            </p>
            <p>
                <b>Cookies</b> are simply <b>small files stored on your device</b>, often containing a unique identifier, that save small bits of data when you visit a website. We also use <b>other technologies</b> similar to cookies that perform a similar function, such as "<b>web beacons</b>", "<b>pixels</b>" or "<b>tags</b>" on our websites and emails, and SDKs in mobile applications. As for the latter, these technologies may collect and use the advertising ID associated with your device. To make things simpler, from now on we will refer to all these technologies as “cookies”.
            </p>
            <p>
                Cookies collect, record and share information about you and/or your device when you visit a website or when you use emails or an application. This information may include your language preference or login credentials, the device and/or browser you are using, the date and time of visits, and how you use a website or app (for example, which pages visit more).
            </p>
            <p>
                We use both “first-party cookies”, i.e. those set by us to collect information about you, and “third-party cookies”, i.e. those set by third parties; in the latter case, the information may be shared with this third party and used by them for their purposes. Where specified in this Cookie Policy, please refer to the privacy policy of the relevant third party to find out more about how they collect your data and how they use it.
            </p>
            <h3>How long do cookies last?</h3>
            <p>
                Cookies usually have an <b>expiry date</b> which determines the period for which they will be stored on your device:
            </p>
            <p>
                <b>Session cookies</b> are temporary and automatically expire when you close your browser.
            </p>
            <p>
                <b>Persistent cookies</b> remain in your browser for a certain period of time, or until you manually delete them.
            </p>
            <h3>Analytical cookies</h3>
            <p>
                These cookies allow us to <b>count visits and traffic</b> sources; in this way we can <b>evaluate and improve</b> the performance of our site and our digital services. They help us understand which pages are visited most and which least, and how users use our site. If you do not accept this type of cookie, we will not know when you have visited our site or used our service and we will not be able to monitor the performance of either.
            </p>
            <h3>Functional cookies</h3>
            <p>
                These cookies allow the website or service to offer <b>personalization and enhanced functionality</b> when you use /SHIFT. If you do not accept these cookies, the services (or part of them) will not function properly.
            </p>
            <h3>Profiling cookies</h3>
            <p>
                They may be used by <b>us</b> or <b>partners</b> to build a <b>profile of your interests</b>. These cookies uniquely identify your <b>browser</b> and the device you use to connect to the internet.
            </p>
        </div>
    </div>
{% endblock %}
