/* General styling for the page */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

/* Styling for the form and buttons */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="date"] {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Styling for the list of available bicycles */
li {
    list-style: none;
    margin: 20px 0;
}

.bike-form-container {
    border: 2px solid #007bff;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto;
}

.bike-form-container p {
    margin: 0 0 10px;
    font-size: 16px;
}

.bike-form-container .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.bike-form-container .btn:hover {
    background-color: #0056b3;
}

.calen-button {
    position: fixed;
    bottom: 20px;
    left: 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    z-index: 9999;
    margin-left: 80px;
    margin-bottom: 60px;
}

.calen-button:hover {
    background-color: #5a6268;
}

.calendar-container {
    width: 50%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}
