/* login and signup form style */
.main-container {
    background-image: url("../files/forms.svg");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.login-form, .signup-form  {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    padding: 70px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form h2, .signup-form h2 {
    color: #333;
    font-size: xx-large;
}

.login-form input[type="text"],
.login-form input[type="password"],
.signup-form input[type="text"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.login-form button, .signup-form button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover,
.signup-form button:hover {
    background-color: #0056b3;
}

.login-form .signup-link {
    margin-top: 20px;
}

.login-form .signup-link a {
    color: #007bff;
    text-decoration: none;
}

.login-form .signup-link a:hover {
    text-decoration: underline;
}