<nav class="navbar">
    <ul class="menu">
        <li class="dropdown">
            <a href="#" class="dropdown-btn">Home</a>
            <ul class="submenu">
                <li><a href="#">Bicycles available</a></li>
                <li><a href="#">Locations</a></li>
                <li><a href="#">Fare prices</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </li>
        
        <li><button class="signup-btn">Sign Up</button></li>
        <li><button class="login-btn">Log in</button></li>
        <li>
            <button class="language-btn" id="languageDropdown">IT</button>
            <div class="dropdown-content">
              <a href="#">EN</a>
              <a href="#">ES</a>
              <a href="#">IT</a>
            </div>
        </li>
    </ul>
</nav>