<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>
    <nav th:replace="~{fragments/nav}"></nav>

    <div class="container">
        <h2>Register as a user</h2>
        <!-- th:object="${user}" used to link field values ​​to object properties -->
        <form class="form-horizontal" method="post" action="/signup" th:object="${user}">
          <div class="form-group">
            <label class="control-label col-sm-2" for="username">Username:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" name="username"/>
              <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
              <!-- checks for errors in the field and, if there are, displays them -->
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email address:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" name="email"/>
              <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name"/>
              <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="lastName">LastName:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lastName" name="lastName"/>
              <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="age">Age:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="age" name="age"/>
              <span class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="password">Password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" name="password"/>
              <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
          </div>
          <div class="form-group" >
            <label class="control-label col-sm-2" id="passwordConfirm" for="passwordConfirm">Repeat the password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="passwordConfirm"/>
              <span class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </div>
        </form>
      </div>

    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>